<div id="slideshow"><span><input data-eventhash="" data-eventidx="" type="checkbox" id="slideshow_toggle" name="slideshow_toggle" onchange="slideshow_toggle()" /><label for="slideshow_toggle">&nbsp;slideshow</label></span></div>

<div id="container"><div id="map"><template id="popup"><div><h3 id="place"></h3><h4 id="time"></h4></div></template></div></div>

<div id="infopic">

        <div id="info" class="visibilityhidden">
            <h3 id="place">
                <div id="place_name"></div>
                <div id="place_date"></div>
            </h3>
            <h4 id="location"></h4>
            <a target="_blank" id="eventurl">Event Link</a>&nbsp;&nbsp;|&nbsp;<a target="_blank" id="link_maps_google">Google Maps</a>&nbsp;|&nbsp;<a target="_blank" id="link_maps_apple">Apple Maps</a>
            <br/><a target="_blank" id="orgurl"></a>
            <ul id="dateall"></ul>
            <div class="eventdescription"></div>
        </div>

        <div id="picbox"><img data-photohrefs="" data-photohrefsidx="" onclick="img_onclick()" id="eventphoto" alt="Event photo" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" hidden /></div>

</div>
