#slideshow_toggle+label::before {content: "Start";} /*\00a0\00a0 */
#slideshow_toggle:checked+label::before {content: "Stop";}

.visibilityhidden
{
visibility : hidden;
}

#container
{
display:flex;
flex-direction:row;
min-height:400px;
}

#picBox
{
flex:5;
/*background-image:url(https://placeimg.com/1000/1000/tech);
background-size:cover;
background-repeat:no-repeat;
background-position:center;*/
}

#map
{
flex:5;
position:relative;
border:1px solid red;
}

#infoBox
{
flex:20;
border:1px solid blue;
display:none;
}

.center
{
text-align:center
}

.header
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: rgb(0, 131, 214) !important;
}

#campaigntitle
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: rgb(0, 131, 214) !important;
}
#campaigntitle > a:link, #campaigntitle > a:visited {
    color: rgb(0, 131, 214) !important;
}

#campaigndescription
{
text-align: center; color: rgb(0, 131, 214) !important;
}

.country
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: rgb(0, 131, 214) !important;
}
#countries, .events, #allcampaigns, #allevents
{
list-style-type: none;
padding: 0px
}
.event, .campaign
{
color: #ffffff;
text-align: center;
text-decoration: none;
}

.campaign>a:link,.campaign>a:visited,.campaign>a:hover,.campaign>a:active,     .event>a:link, .event>a:visited,.event>a:hover, .event>a:active  
{
text-decoration:none; 
color: inherit
}

.eventactive
{
background-color: rgba(0, 131, 216, 1.0);
border-radius: 40px;
}

.eventinactive
{
background-color: rgba(0, 131, 216, 0.7);
border-radius: 40px;
}

.campaignactive
{
background-color: rgba(0, 131, 216, 1.0);
border-radius: 40px;
}

.campaigninactive
{
background-color: rgba(0, 131, 216, 0.7);
border-radius: 40px;
}

.subtitle
{
opacity: 0.7;
font-size: 90%;
}



.marker-highlighted {
    border: 2px dashed #3388ff;
    background-color: #3388ff4d;
}

@media screen and (min-width: 800px) {
    #outer-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    #container {
        display: flex;
        flex-direction: row;
        height: 400px;
    }

    #map {
        flex: 5;
        position: relative;
        border: 1px solid red;
    }

    #eventphoto {
        height: 100%;
    }

    #picBox {
        flex: 5;
    }
}

@media screen and (max-width: 799px) {
    #map {
        height: 30vh;
    }

    #picBox {
        padding-top: 0px; /*5px*/
        width: 100%;
        aspect-ratio: 4 / 3;
        text-align: center;
    }

    #eventphoto {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}
