:root {
--common-radius: 12px;
}

#slideshow
{
text-align: center;

margin: auto;
width: 50%;
}

#infopic
{
display: flex;
gap: 8px;
min-height: 200px;
}

#map
{
height: 200px;
}

#info
{
/* height: 200px; */
flex: 1 1 66.66%;
font-size: 12px;
line-height: 16px;
border: 1px solid lightgray;
border-radius: 10px;
}

#orgurl:not([href=""])::before
{
content: "by ";
}

.containersticky
{
position: sticky;
top: 0
}

footer, footer >* a:link, footer >* a:visited
{
color:gray!important;
opacity: 0.7;
font-size: 90%;
}

#campaigntitle
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: rgb(0, 131, 214) !important;
}
#campaigntitle > a:link, #campaigntitle > a:visited {
    color: rgb(0, 131, 214) !important;
}

#campaigndescription
{
margin: auto;
text-align: center; color: rgb(0, 131, 214) !important;
}

#indextitle
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: rgb(0, 131, 214) !important;
}
#indextitle > a:link, #indextitle > a:visited {
    color: rgb(0, 131, 214) !important;
}

#indexdescription
{
text-align: center; color: rgb(0, 131, 214) !important;
width: 200px !important;

margin: auto;
width: 50%;
}

#indexdescription > * img
{
max-width:100%;
max-height:100%;
height:auto;
}

.eventsnoneerror
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: gray !important;
}

#allevents > li, #allcampaigns > li, #upcomingeventsincountry > li, #upcomingeventseverywhere > li
{
    margin-bottom: 10px;
}

#dateall
{
padding: 0px;
}

#dateall > li
{
display: inline-block;
margin-right: 10px;
}

.eventdescription
{
height: 50px
}

.dateactive
{
background-color: yellow;
}
.dateinactive
{
/*background-color: gray;*/
}
.markerhighlighted
{
border: 2px dashed #3388ff;
background-color: #3388ff4d;
}

#map
{
/*border-top-left-radius: var(--common-radius);
border-bottom-left-radius: var(--common-radius);*/
border-radius: var(--common-radius);
}
#eventphoto
{
/*border-top-right-radius: var(--common-radius);
border-bottom-right-radius: var(--common-radius);*/
border-radius: var(--common-radius);
}

#slideshow_toggle+label::before
{
content: "Start";
}
#slideshow_toggle:checked+label::before
{
content: "Stop";
}

.visibilityhidden
{
visibility : hidden;
}

#container
{
margin-bottom: 8px;
/*display:flex;
flex-direction:row;
min-height:400px;*/
}

#picbox
{
flex: 1 1 33.33%;
/*background-image:url(https://placeimg.com/1000/1000/tech);
background-size:cover;
background-repeat:no-repeat;
background-position:center;*/
}

#picbox img {
display: block;
width: 100%;
height: 100%;
}

#map
{
flex:5;
position:relative;
/*border:1px solid red;*/
}

#infoBox
{
flex:20;
border:1px solid blue;
display:none;
}

.center
{
text-align:center
}

.header
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: rgb(0, 131, 214) !important;
}

.country
{
text-align: center; line-height: 1.4; font-size: 1.48rem; color: rgb(0, 131, 214) !important;
}
#countries, .events, #allcampaigns, #allevents
{
list-style-type: none;
padding: 0px
}
.event, .campaign
{
color: #ffffff;
text-align: center;
text-decoration: none;
}

.campaign>a:link,.campaign>a:visited,.campaign>a:hover,.campaign>a:active,     .event>a:link, .event>a:visited,.event>a:hover, .event>a:active
{
text-decoration:none;
color: inherit
}

.eventactive
{
background-color: rgba(0, 131, 216, 1.0);
border-radius: var(--common-radius);
}

.eventinactive
{
background-color: rgba(0, 131, 216, 0.7);
border-radius: var(--common-radius);
}

.campaignactive
{
background-color: rgba(0, 131, 216, 1.0);
border-radius: var(--common-radius);
}

.campaigninactive
{
background-color: rgba(0, 131, 216, 0.7);
border-radius: var(--common-radius);
}

.subtitle
{
opacity: 0.7;
font-size: 90%;
}

@media screen and (min-width: 800px) {
    #outer-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    #container {
        /*display: flex;
        flex-direction: row;
        height: 400px;*/
    }

    #map {
        position: relative;
        /*border: 1px solid red;*/
    }
}
