{% assign campaigns = "" | split: "," %}{% for p in site.pages %}{% if p.path contains "data/campaigns/" %}{% assign campaigns = campaigns | push: p %}{% endif %}{% endfor %}{% assign campaigns = campaigns | sort: "name" %}
{% assign name_size = page.name | size | minus: 3 %}{% assign campaign_name = page.name | slice: 0, name_size %}
{% assign events = "" | split: "," %}{% for p in site.pages %}{% if p.path contains "data/events/" and p.dir contains campaign_name %}{% assign events = events | push: p %}{% endif %}{% endfor %}
{% assign events_grouped_by_country = events | sort: "country" | group_by: "country" %}
{% assign index = "" %}{% for p in site.pages %}{% if p.path == "data/index.md" %}{% assign index = p %}{% endif %}{% endfor %}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="{{ campaign_name | xml_escape }}" />
        <!--
        <meta property="profile:username" content="(( site.github.owner_name | xml_escape ))" />
        <meta property="og:title" content="zrxiv for (( site.github.owner_name | xml_escape )){% if tag != "recent" %}, #(( tag | xml_escape )){% endif %}" />
        <meta property="og:url" content="(( site.github.url )){% if tag != "recent" %}/(( tag | xml_escape )){% endif %}" />
        <meta property="og:image" content="(( site.github.url ))/logo.png" />
        <link rel="icon" href="(( site.github.url ))/logo.png" />
        <link rel="canonical" href="(( site.github.url )){% if tag != "recent" %}/(( tag | xml_escape )){% endif %}" />
        <link rel="base" href="(( site.github.url ))">
        -->
        <link rel="stylesheet" href="assets/css/style.css" />

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
        <link href="https://unpkg.com/leaflet@1.8.0/dist/images/marker-icon.png" rel="prefetch" id="link_marker_icon" type="image/png" />
        <!--<script type="text/javascript"
            src="https://cdn.jsdelivr.net/gh/hosuaby/Leaflet.SmoothMarkerBouncing@v3.0.2/dist/bundle.js"
            crossorigin="anonymous"></script>-->
        
        <link href="https://tile.openstreetmap.org/{z}/{x}/{y}.png" id="link_tiles" />
        <link href="https://maps.google.com/maps/place/{name}/@{lat},{lng},12z" id="link_maps_google_pattern" />
        <link href="https://maps.apple.com/?q={name}&ll=@{lat},{lng}&z=12" id="link_maps_apple_pattern" />

        <script src="assets/js/script.js"></script>
        <script>

function body_onload()
{
    const map = L.map('map').setView([20, 0], 2);
    L.tileLayer(decodeURI(document.getElementById('link_tiles').href), {maxZoom: 19, attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>'}).addTo(map);

    const Icon = L.icon({iconUrl: decodeURI(document.getElementById('link_marker_icon').href), iconSize:     [20, 20], iconAnchor:   [10, 20],  popupAnchor:  [0, -10]  });

    for(const a of document.querySelectorAll('.event'))
    {
        L.marker(JSON.parse(a.dataset.latlng), {icon: Icon}).bindPopup(format_event_info(a).innerHTML).on('click', () => window.location.hash = a.dataset.hash).addTo(map);
    }

    const today_YYYY_MM_DD = new Date().toISOString().slice(0, 10);
    switch_upcoming_events(today_YYYY_MM_DD);
    
    navigate(window.location.hash);
    slideshow_init(Array.from(document.querySelectorAll('a.event')).filter(a => a.dataset.photohrefs != '').map(a => a.dataset.hash));
}
</script>

        <title>{{ page.title }}</title>
    </head>
    <!--<header>
        Places: <pre>{{ events | jsonify }}</pre>
        <ul>{% for p in site.static_files %}<li><pre>{{ p | jsonify }}</pre></li>{% endfor %}</ul>
        <pre>{{ events_grouped_by_country | jsonify }}</pre>
        <h3>Pages</h3>
        Page: <pre>{{ page | jsonify }}</pre>
        Pages: <ul>{% for p in site.pages %}<li><pre>{{ p | jsonify }}</pre></li>{% endfor %}</ul>
        <h3>Site</h3>
        <pre>{{ site | jsonify }}</pre>
    </header>-->
    

    <body onhashchange="navigate(window.location.hash)" onload="body_onload()">
    <div id="outer-container">
        <h1 id="campaigntitle"><a href="">{{ page.title }}</a></h1>
        <div id="campaigndescription">{{ page.content | markdownify }}</div>
        <!--<h3 class="center">telegram: <a href="{{ page.telegram }}">{{ page.telegram }}</a></h3>-->
        <hr />
        <div id='container'>
            <div id="map"></div>
            <div id="picBox"><img data-photohrefs="" data-photohrefsidx="" onclick="img_onclick()" id="eventphoto" style="object-fit:cover; max-width:100%; max-height: 100%; height:auto" alt="Event photo" src="" hidden></img></div>
        </div>
        
        <span><input data-hash="" data-eventidx="" type="checkbox" id="slideshow_toggle" name="slideshow_toggle" data-hash="" onchange="slideshow_toggle()" /><label for="slideshow_toggle">&nbsp;slideshow</label></span>

        <div id="info" class="visibilityhidden">
            <h1 id="place">&nbsp;</h1>
            <h3 id="address"><a target="_blank" id="link_maps_google">Google Maps</a>&nbsp;|&nbsp;<a target="_blank" id="link_maps_apple">Apple Maps</a></h3>
            <h3><a target="_blank" id="eventurl">Event Link</a>&nbsp;by&nbsp;<a target="_blank" id="orgurl"></a></h3>
            <p class="eventdescription"></p>
        </div>

        <hr />
        <ul id="allevents">
        
            {% for country_events in events_grouped_by_country %}
            <li>
                <div class="country">{{ country_events.name }}</div>
                <ul class="events">
                    {% for event in country_events.items %} {% assign photos = "" | split: "," %}{% for p in site.static_files %}{% if p.extname == ".jpg" and p.path contains event.dir %}{% assign photo_path_size = p.path | size | minus: 1 %}{% assign photo = p.path | slice: 1, photo_path_size %}{% assign photos = photos | push: photo %}{% endif %}{% endfor %}{% assign event_hash = event.path | remove: "data/events/" | replace: "/", "_" | replace: " ", "_" %}
                    
                    <li class="eventinactive"><a class="event" data-photohrefs="{{ photos | join: ";" }}" data-latlng='{{ event.latlng | jsonify }}' data-locality="{{ event.locality }}" data-country="{{ event.country }}" data-orgname="{{ event.orgname }}" data-orgurl="{{ event.orgurl }}" data-eventurl="{{ event.eventurl }}" data-hash="#{{ event_hash }}" href="#{{ event_hash }}"><div>{{ event.locality }}, {{ event.location }}</div><div class="subtitle" title="time zone {{ event.timezone }}">{{ event.date | date: "%B %-d, %Y" }}, {{ event.time }}</div><div hidden class="eventdescription"><div>{{ event.content | markdownify }}</div></div></a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}

        </ul>
        
        <hr />
        <h3 class="header">All campaigns</h3>
        <ul id="allcampaigns">{% for campaign in campaigns %}{% assign name_size = campaign.name | size | minus: 3 %}{% assign d = campaign.name | slice: 0, name_size %}<li class="campaign {% if d == campaign_name %}campaignactive{% else %}campaigninactive{% endif %}"><a href="{{ d }}.html"><div>{{ campaign.title | xml_escape }}</div>{% if campaign.date %}<div class="subtitle">{% if campaign.date.first %} {{ campaign.date[0] | date: "%B %-d" }}{{ campaign.date[1] | date: " - %B %-d, %Y" }}{% else %}{{ campaign.date | date: "%B %-d, %Y" }}{% endif %}</div>{% endif %}</a></li>{% endfor %}</ul>
    
    </div>
    </body>
    
    {% include footer.html %}

</html>
