{% assign campaigns = "" | split: "," %}{% for p in site.pages %}{% if p.path contains "data/campaigns/" and p.dir == "/" %}{% assign campaigns = campaigns | push: p %}{% endif %}{% endfor %}{% assign campaigns = campaigns | sort: "name" %}
{% assign index = page %}
{% assign events = "" | split: "," %}{% for p in site.pages %}{% if p.path contains "data/campaigns/" and p.dir != "/" %}{% assign events = events | push: p %}{% endif %}{% endfor %}
{% assign events_grouped_by_country = events | sort: "country" | group_by: "country" %}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:description" content="Event map [{{ index.title | xml_escape }}]" />
        <meta property="og:site_name"    content="Event map [{{ index.title | xml_escape }}]" />
        <meta property="og:title"        content="Event map [{{ index.title | xml_escape }}]"  />
        <meta property="twitter:title"   content="Event map [{{ index.title | xml_escape }}]" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.github.url }}" />
        <link rel="canonical"      href="{{ site.github.url }}" />
        
        <script type="application/ld+json">{"@context":"https://schema.org","@type":"WebSite","headline":{{ index.title | jsonify }},"name": {{index.title | jsonify }},"url":"{{ site.github.url }}}</script>
<!--
        <meta name="twitter:image" content="(( site.github.url ))/logo.png" />
        <meta property="og:image"  content="(( site.github.url ))/logo.png" />
        <link rel="icon"              href="(( site.github.url ))/logo.png" />
        <link rel="shortcut icon" type="image/x-icon" href="/eventmaptest/favicon.ico" />
-->
        <link rel="stylesheet" href="assets/css/style.css" />

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
        <!--<script type="text/javascript"
            src="https://cdn.jsdelivr.net/gh/hosuaby/Leaflet.SmoothMarkerBouncing@v3.0.2/dist/bundle.js"
            crossorigin="anonymous"></script>-->
        
        <link href="https://tile.openstreetmap.org/{z}/{x}/{y}.png" id="link_tiles" />
        <link href="https://maps.google.com/maps/place/{name}/@{lat},{lng},12z" id="link_maps_google_pattern" />
        <link href="https://maps.apple.com/?q={name}&ll=@{lat},{lng}&z=12" id="link_maps_apple_pattern" />

        <script src="assets/js/script.js"></script>

        <script>
var mapmarkers = {};

function body_onload()
{
    const map = init_map('map');

    let events = document.querySelectorAll('a.event:not([data-photohrefs=""])');
    slideshow_init(Array.from(events).map(a => a.dataset.eventhash));
    
    const today_YYYY_MM_DD = get_today_YYYY_MM_DD();
    switch_upcoming_events(today_YYYY_MM_DD);
    switch_upcoming_campaigns(today_YYYY_MM_DD);
    
    const current_country = discover_current_country();
    populate_upcoming_events_in_country(today_YYYY_MM_DD, current_country);
    populate_upcoming_events_everywhere(today_YYYY_MM_DD);
    
    events = document.querySelectorAll('#upcomingeventseverywhere > li > .event');
    for(const a of events)
    {
        const marker = L.marker([parseFloat(a.dataset.lat), parseFloat(a.dataset.lng)]).addTo(map);
        
        marker.bindPopup(format_event_popup(a).outerHTML);
        
        marker.on('click', () => window.location.hash = a.dataset.eventhash);
        
        mapmarkers[a.dataset.mapmarkerkey] = marker;
    }


    navigate(window.location.hash);
}
        </script>
        
        <title>{{ index.title %}}</title>
    </head>
    <body onhashchange="navigate(window.location.hash)" onload="body_onload()">
    <div id="outer-container">
        <h1 id="campaigntitle"><a href="">{{ index.title }}</a></h1>
        <div id="campaigndescription">{{ index.content | markdownify }}</div>
        <hr />
        <div id='container'>
            <div id="map"><template id="popup"><div><h3 id="place"></h3><h4 id="time"></h4></div></template></div>
            <div id="picBox"><img data-photohrefs="" data-photohrefsidx="" onclick="img_onclick()" id="eventphoto" style="object-fit:cover; max-width:100%; max-height: 100%; height:auto" alt="Event photo" src="" hidden></img></div>
        </div>
        
        <span><input data-eventhash="" data-eventidx="" type="checkbox" id="slideshow_toggle" name="slideshow_toggle" onchange="slideshow_toggle()" /><label for="slideshow_toggle">&nbsp;slideshow</label></span>

        <div id="info" class="visibilityhidden">
            <h1 id="place">&nbsp;</h1>
            <h3 id="address"><a target="_blank" id="link_maps_google">Google Maps</a>&nbsp;|&nbsp;<a target="_blank" id="link_maps_apple">Apple Maps</a></h3>
            <h3><a target="_blank" id="eventurl">Event Link</a>&nbsp;by&nbsp;<a target="_blank" id="orgurl"></a></h3>
            <div class="eventdescription"></div>
        </div>
        

        <hr />
        <h3 class="header">Upcoming events in <span id="country"></span></h3>
        <ul class="events" id="upcomingeventsincountry">
            <li hidden class="eventsnone"><div class="eventsnoneerror">No upcoming events</div></li>
        </ul>
        <hr />
        <h3 class="header">Upcoming events everywhere</h3>
        <ul class="events" id="upcomingeventseverywhere">
            <li hidden class="eventsnone"><div class="eventsnoneerror">No upcoming events</div></li>
        </ul>
        <hr />
        <details>
        <summary class="center">
        <span class="header">All events</span>
        </summary>

        <ul id="allevents" class="events">
        
            {% for country_events in events_grouped_by_country %}
            {% assign grouped_events = country_events.items | sort: "date" | reverse %}
            {% for event in grouped_events %} {% assign photos = "" | split: "," %}{% for p in site.static_files %}{% if p.extname == ".jpg" and p.path contains event.dir %}{% assign photo_path_size = p.path | size | minus: 1 %}{% assign photo = p.path | slice: 1, photo_path_size %}{% assign photos = photos | push: photo %}{% endif %}{% endfor %}{% assign event_hash = event.path | remove: "data/campaigns/" | replace: "/", "_" | replace: " ", "_" | replace: ".md", "" %}
            {% for campaign in site.pages %}{% assign campaign_path = campaign.path | split: "/" | pop | join: "/" %}{% if campaign.path contains "data/campaigns/" and campaign.dir == "/" and event.dir contains campaign_path %}
            
            <li class="eventinactive" data-date="{{ event.date }}"><a class="event" data-date="{{ event.date }}" data-time="{{ event.time }}" data-photohrefs="{{ photos | join: ";" }}" data-mapmarkerkey="{{ event.locality }}, {{ event.country }}" data-lat="{{ event.latlng[0] }}" data-lng="{{ event.latlng[1] }}" data-locality="{{ event.locality }}" data-country="{{ event.country }}" data-orgname="{{ event.orgname }}" data-orgurl="{{ event.orgurl }}" data-eventurl="{{ event.eventurl }}" data-eventhash="#{{ event_hash }}" href="#{{ event_hash }}"><div>{{ event.locality }}, {{ event.country }}, {{ event.location }} - {{ campaign.title }}</div><div class="subtitle" title="time zone {{ event.timezone }}">{{ event.date | date: "%B %-d, %Y" }}, {{ event.time }}</div><div hidden class="eventdescription"><div>{{ event.content | markdownify }}</div></div></a></li>
            
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}

        </ul>
        
        </details>

        <hr />
        <h3 class="header">All campaigns</h3> 
        <nav>
            <ul id="allcampaigns">{% for campaign in campaigns %}{% assign name_size = campaign.name | size | minus: 3 %}{% assign d = campaign.name | slice: 0, name_size %}<li class="campaign campaigninactive" {% if campaign.date.first %} data-datebegin="{{ campaign.date[0] }}" data-dateend="{{ campaign.date[1] }}"{% else %} data-datebegin=""{{ campaign.date }}" data-dateend="{{ campaign.date }}" {% endif %}><a href="{{ d }}.html"><div>{{ campaign.title | xml_escape }}</div>{% if campaign.date %}<div class="subtitle">{% if campaign.date.first %} {{ campaign.date[0] | date: "%B %-d" }}{{ campaign.date[1] | date: " - %B %-d, %Y" }}{% else %}{{ campaign.date | date: "%B %-d, %Y" }}{% endif %}</div>{% endif %}</a></li>{% endfor %}</ul>
        </nav>
    
    </div>
    </body>

    <footer><hr />{% include footer.html %}</footer>

</html>
